<!DOCTYPE html>
<html lang="en">
<head th:replace="layout :: head('Recipe Details')"></head>
<body>
<div th:replace="layout :: nav"></div>
<div th:replace="layout :: searchbar"></div>
<div th:replace="layout :: flash"></div>
<div>
    <div th:object="${recipe}">
        <h2 th:text="*{name}"></h2>
    </div>
    <div>
        <h3>Ingredients:</h3>
        <ul th:each="ingredient : ${recipe.ingredients}" class="ingredients">
            <li>
                <p th:text="${ingredient.qty}"></p>
                <p th:text="${ingredient.measurement}"></p>
                <p th:text="${ingredient.name}"></p>
            </li>
        </ul>
    </div>
    <div>
        <h4 th:text="*{method}"></h4>
    </div>

    <div th:each="category : ${categories}">
        <h4><a th:text="${category.name}" th:href="@{|/category/${category.id}|}"></a></h4>
    </div>
    <form th:action="@{|/recipes/${recipe.id}/delete|}" method="post">
        <button type="submit">Delete</button>
    </form>
</div>
</body>
</html>