<!DOCTYPE html>
<html lang="en">
<head th:replace="layout :: head('New Recipe')"></head>
<body>
<div th:replace="layout :: nav"></div>
<div th:replace="layout :: flash"></div>
<div class="r rcpfrm">
    <form th:action="@{${action}}" method="post" th:object="${recipe}" class="hlfwth cntr">
        <input type="hidden" th:field="*{id}"/>
        <div class="flwth cntr" style="text-align: center;">
            <input type="text" th:field="*{name}" autocomplete="off" placeholder="Name of Recipe"
                   style="text-align: center;"/>
        </div>
        <div class="separator"></div>
        <br/>
        <!--Ingredient creation and updating-->
        <div class="flwth cntr">
            <div th:each="ingredient,i : ${recipe.ingredients}" class="flwth">
                <input type="hidden" th:field="*{ingredients[__${i.index}__].id}"/>

                <input type="text" th:field="*{ingredients[__${i.index}__].qty}" autocomplete="off"
                       placeholder="Amount" style="width: 15%"/>

                <input type="text" th:field="*{ingredients[__${i.index}__].name}" class="newIngBox"
                       placeholder="Ingredient" style="width: 70%;"/>

                <input type="text" th:field="*{ingredients[__${i.index}__].singleName}"
                       placeholder="Name of ingredient"/>

                <input type="hidden" th:field="*{ingredients[__${i.index}__].neededQty}"/>
                <button type="submit" id="addIngredientBtn" name="addIngredient"><i class="material-icons">add</i>
                </button>
                <button type="submit" name="removeIngredient" th:value="${i.index}"><i class="material-icons">delete</i>
                </button>
                <br/>
            </div>
        </div>
        <textarea name="Instructions" id="Instructions" cols="30" rows="5" th:field="*{method}"
                  placeholder="Enter instructions here..." class="flwth"></textarea>
        <div class="lnblock">
            <div class="flwth cntr">
                <h3>Add Categories:</h3>
                <div th:each="cat,i : ${recipe.categories}">
                    <input type="text" th:field="*{categories[__${i.index}__].name}"/>
                    <button type="submit" name="removeCat" th:value="${i.index}"><i class="material-icons">delete</i>
                    </button>
                </div>
                <div>
                    <button type="submit" name="addCategory"><i class="material-icons">add</i></button>
                </div>
            </div>
        </div>
        <button type="submit" style="position: absolute; right: 0; bottom: 0;">Save Recipe</button>
    </form>
</div>
<div th:replace="layout :: scripts"></div>
</body>
</html>