<!DOCTYPE html>
<html lang="en">
<head th:replace="layout :: head('Recipes')"></head>
<body>
<div th:replace="layout :: nav('Recipe')"></div>
<div th:replace="layout :: flash"></div>
<div class="container">
    <form th:action="@{${action}}" class="cntr" style="width: fit-content; width: -moz-fit-content;">
        <button type="submit" th:text="${switch}" class="scaling-button">All</button>
    </form>
    <h1 th:text="${title != null} ? ${title} : 'All Recipes'">All Recipes</h1>
    <div class="separator"></div>
    <div th:each="recipe : ${recipePage.content}" class="r recipes recipecntnr">
        <div class="r" style="display: inline-block; font-size: 2rem;">
            <a th:href="@{|/recipes/${recipe.id}|}">
                <img th:src="@{|${recipe.imgLoc}|}" th:alt="${recipe.name}" class="smllimg brdrd"></a>
            <a th:href="@{|/recipes/${recipe.id}|}" th:text="${recipe.name}"></a>
            <a th:href="@{|/recipes/choose/${recipe.id}|}"
               th:classappend="${recipe.chosen} ? 'mark' : 'unmark'" class=" chck"></a>
        </div>
        <div class="separator"></div>
        <div class="right" id="recipe-cats">
            <a th:each="cat : ${recipe.categories}" th:href="@{|/categories/${cat.id}|}" th:text="${cat.name}"
               style="color: black;"></a>
        </div>
    </div>
    <div th:if="${recipePage.totalPages > 0}" style="font-size: 1.3rem; margin-top: 50px; margin-left: 50px;">
        <a th:if="${currentPage gt 1}"
           th:href="@{__${link == '/recipes' ? '/recipes' : '/chosen'}__(size=${recipePage.size}, page=__${currentPage}__-1)}"
           style="position: relative"><i
                class="material-icons" style="position: absolute; left: -25px; top: 1px;">keyboard_arrow_left</i></a>
        <ul class="pages" style="display: inline; padding: 0;">
            <li th:each="pageNumber : ${pageNumbers}" style="display: inline;">
                <a th:href="@{__${link == '/recipes' ? '/recipes' : '/chosen'}__(size=${recipePage.size}, page=${pageNumber})}"
                   th:text=${pageNumber}
                   th:class="${pageNumber==recipePage.number + 1} ? active" class="pagenumber"></a></li>
        </ul>
        <a th:if="${currentPage lt recipePage.totalPages}"
           th:href="@{__${link == '/recipes' ? '/recipes' : '/chosen'}__(size=${recipePage.size}, page=${currentPage} + 1)}"
           style="position: relative;"><i
                class="material-icons" style="position: absolute; right: -25px; top: 1px;">keyboard_arrow_right</i></a>

    </div>
</div>
<div th:replace="layout :: scripts"></div>
</body>
</html>