<!DOCTYPE html>
<html lang="en">
<head th:replace="layout :: head('Recipes')"></head>
<body>
<div th:replace="layout :: nav"></div>
<div th:replace="layout :: flash"></div>
<div class="container">
    <form th:action="@{${action}}" class="cntr" style="width: fit-content">
        <button type="submit" th:text="${switch}">All</button>
    </form>
    <div th:each="recipe : ${recipes}" class="r recipes recipecntnr">
        <div class="r">
            <a th:href="@{|/recipes/${recipe.id}|}">
                <img th:src="@{/shkshka.jpg}" th:alt="${recipe.name}" class="smllimg">
                <span th:text="${recipe.name}"></span></a>
        </div>
        <a th:each="cat : ${recipe.categories}" th:href="@{|/categories/${cat.id}|}" th:text="${cat.name}"
           class="right" style="color: black;"></a>
        <div class="separator"></div>
    </div>
</div>
</body>
</html>