body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  background-color: #cdcdcd;
  margin-bottom: 20rem;
}

nav {
  width: 100%;
  background: black;
  margin-bottom: 2rem;
  transition: top 0.3s;
  z-index: 999;
}

nav .navbar {
  width: 90%;
  position: relative;
  height: 60px;
  line-height: 60px;
  margin: 0 auto;
}

.navbar ul {
  margin: 0;
  height: 60px;
}

.navbar ul li, .category li {
  list-style: none;
  display: inline-block;
  height: inherit;
}

.navbar ul li a {
  padding: 0.9rem;
  font-size: 1.2rem;
  border-radius: 1rem;
  color: white;
  height: inherit;
}

.navbar ul li a:hover {
  background-color: #393535
}

.searchbar {
  display: inline-block;
}

.searchbar input[type=text] {
  width: 100%;
  height: 30px;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.2rem;
}

.title {
  display: inline-block;
  font-size: 1.9rem;
  margin-right: 5px;
}

.category-dropdown {
  position: absolute;
  top: 60px;
  padding: 0;
  background: black;
  width: min-content;
  height: fit-content !important;
  display: none;
}

#nav-cat:hover #cat-dropdown {
  display: block;
}

.smllimg {
  width: 75px;
  height: 75px;
  border-radius: 1em;
}

.medimg {
  width: 150px;
  height: 150px;
  display: block;
}

.lrgimg {
  width: 300px;
  height: 300px;
  display: block;
}

.brdrd {
  border: solid 1px black;
}

.r {
  margin: 0 auto;
  margin-top: 10px;
}

.r .c {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0.75rem;
}

.c {
  margin-bottom: 0.75rem;
  position: relative;
}

.separator {
  height: 1px;
  background: black;
}

.recipes .categories a {
  color: black;
}

.r.recipes.recipecntnr:nth-child(even) {
  background: white;
  margin-top: 20px;
  color: #716f6f;
}

.r.recipes.recipecntnr:nth-child(odd) {
  background: darkgray;
  margin-top: 20px;
}

#recipe-cats a:after {
  content: ", ";
}

#recipe-cats a:last-child:after {
  content: " ";
}

.card {
  box-shadow: none;
  border-radius: 4px;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  position: relative;
  padding: 0;
}

.card .card-content {
  padding: 0;
}

.card .card-title {
  text-align: center;
  font-size: 1.3rem;
}

.card .card-title a {
  color: #000 !important;
  display: block;
  line-height: 2rem;
  padding: 2rem 0;
}

.rcpfrm input[type=text] {
  border-radius: 0.3rem;
  border: none;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

a {
  text-decoration: none;
  color: white;
}

button {
  border-radius: 0.8rem;
  background: black;
  color: white;
  cursor: pointer;
  font-size: 1rem;
}

button:focus {
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}

.container {
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.chck {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.mark.chck {
  background: url(./icons/chck.png) no-repeat 0 0;
}

.unmark.chck {
  background: url(./icons/unchck.png) no-repeat 0 0;
}

#todoList li {
  list-style: none;
  margin-bottom: 1rem;
}

#todoList label {
  border-radius: 0.5rem;
  background-color: #d7d4d4;
  border: 2px solid;
  border-right-color: #eeeeee;
  border-bottom-color: #eee;
  border-top-color: #9a9a9a;
  border-left-color: #9a9a9a;
  margin-left: 0.5rem;
  font-size: 2rem;
}

.dblchkbx {
  -ms-transform: scale(2);
  /* IE */
  -moz-transform: scale(2);
  /* FF */
  -webkit-transform: scale(2);
  /* Safari and Chrome */
  -o-transform: scale(2);
  /* Opera */
  transform: scale(2);
}

.strkthrgh {
  text-decoration: line-through;
  background: inherit;
}

#todoList label input[type=text] {
  height: 1.5rem;
  background-color: #d7d4d4;
  border: none;
  font-size: 2rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input:focus {
  outline: 0;
}

.row {
  position: relative;
  width: 100%;
}

.checkcontainer{
  position: relative;
  display: block;
  margin-bottom: 22%;
  cursor: pointer;
  font-size: 17px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkcontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkcontainer input:checked ~ .checkmark {
  background-color: #2196f1;
}

.checkmark {
  position: absolute;
  height: 2em;
  width: 2em;
  background-color: white;
  border-radius: 1em;
}

.checkcontainer .checkmark:after {
  left: 10px;
  top: 6px;
  width: 7px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  content: "";
  position: absolute;
}

.checkcontainer input:checked ~ .checkmark:after {
  display: block;
}

.recipeTable tr td p {
  display: inline;
  font-size: 1.6rem !important;
}

.recipeTable {
  width: 100%;
  position: relative;
  border-collapse: collapse;
}

.recipeTable thead tr {
  background: black !important;
  color: white;
}

.recipeTable tr:nth-of-type(odd) {
  background: #cdcdcd;
}

.recipeTable tr {
  background: #acacac;
}

.upArrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  content: "";
}

.downArrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  content: "";
}

.menuButton {
  display: none;
}

#todoList input {
  font-size: 2rem;
}

.invisible {
  display: none;
}

.visible {
  display: contents !important;
}

li a.active {
  text-decoration: underline;
}

#menu li.active {
  background: #393939
}

.lnblock {
  display: inline-block;
}

.flwth {
  width: 100%;
}

.nntywth {
  width: 90%;
}

.svntwth {
  width: 70%;
}

.sxtwth {
  width: 66%;
}

.hlfwth {
  width: 50%
}

.frtwth {
  width: 40%;
}

.thrtwth {
  width: 33%;
}

.twntwth {
  width: 20%;
}

.tnwth {
  width: 10%;
}

.right {
  float: right !important;
}

.left {
  float: left !important;
}

.cntr {
  margin: 0 auto;
  position: relative;
}

.error {
  background: red;
}

/*Beginning of responsive design*/
@media only screen and (min-device-width: 760px) {
  .menu {
    display: contents;
  }
}

@media only screen and (max-device-width: 1239px) and (min-device-width: 760px) {
  .searchbar {
    width: 80%;
  }

  body {
    margin: 120px 0 0 0;
  }
}

@media only screen and (max-device-width: 760px) {

  body {
    margin: 150px 0 0 0
  }

  .navbar {
    line-height: initial;
  }

  .title {
    margin-top: 1rem;
  }

  .recipeTable, thead, tbody, th, td, tr {
    display: block;
  }

  .recipeTable thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .recipeTable td {
    border: none;
    position: relative;
    padding-left: 50%;
  }

  .recipeTable td:before {
    font-size: 2rem;
    position: absolute;
    top: 0;
    left: 0px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  .recipeTable tbody tr td input {
    font-size: 1rem;
    max-width: 90%;
  }

  td:nth-of-type(1):before {
    content: "Ingredient";
  }

  td:nth-of-type(2):before {
    content: "Missing It";
  }

  .menu li {
    width: 100%;
    text-align: center;
    background: black;
  }

  .menu {
    display: none;
  }

  .title {
    width: 100%;
    text-align: center;
    font-size: 2.5rem;

  }

  .title i {
    font-size: 2rem;
  }

  .searchbar input[type=text] {
    text-align: center;
  }

  .menuButton {
    display: inline-block;
  }

  #todoList input {
    font-size: 1.6rem !important;
    max-width: 75%;
  }

  .twntwth {
    width: 100%;
  }

  .thrtwth {
    width: 100%;
  }

  .frtwth {
    width: 100%;
  }

  .hlfwth {
    width: 95%;
  }

  #nav-cat:hover #cat-dropdown {
    display: none;
  }

}