<!DOCTYPE html>
<html lang="en">
<head th:replace="layout :: head('New Recipe')"></head>
<body>
<div th:replace="layout :: nav('Recipe')"></div>
<div th:replace="layout :: flash"></div>
<div class="r rcpfrm">
    <form th:action="@{${action}}" method="post" th:object="${recipe}" class="hlfwth cntr"
          enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}"/>
        <div class="flwth cntr" th:classappend="${#fields.hasErrors('name')} ? 'error' : ''"
             style="text-align: center;">
            <input type="text" th:field="*{name}" autocomplete="off" placeholder="Name of Recipe"
                   style="text-align: center;"/>
            <div class="error-message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            <a th:if="${recipe.id == null}"
               style="padding: 0.7rem; background: black; border-radius: 0.8rem; display: inline-block; "
               th:href="@{/recipes/copy}">Copy From Site</a>
        </div>
        <div class="separator"></div>
        <br/>
        <img th:if="${recipe.imgPath != null}" th:src="@{*{imgLoc}}" id="recipeImg" class="medimg cntr">
        <div style="border: solid gray 1px; margin: 10px; border-radius: 1em; width: fit-content; background: white;">
            <input type="file" id="file" name="file" th:value="*{imgPath}" accept="image/*" onchange="changeImg(event)"
                   style="padding: 2rem 0"/>
            <label for="file" style="padding: 2rem">Picture for Recipe</label>
        </div>
        <!--Ingredient creation and updating-->
        <div class="flwth cntr">
            <div th:each="item,i : ${recipe.items}" class="flwth">
                <input type="hidden" th:field="*{items[__${i.index}__].id}"/>

                <input type="text" th:field="*{items[__${i.index}__].name}" class="newIngBox"
                       placeholder="Ingredient" autocomplete="off" style="width: 70%;"/>

                <input type="text" th:field="*{items[__${i.index}__].singleName}"
                       placeholder="Name of item"/>

                <input type="hidden" th:field="*{items[__${i.index}__].neededQty}"/>
                <button type="submit" id="addIngredientBtn" name="addIngredient" class="addIngredientBtn">
                    <i class="material-icons">add</i>
                </button>
                <button th:if="${#lists.size(recipe.items) gt 1}" type="submit" name="removeIngredient" th:value="${i.index}"><i class="material-icons">delete</i>
                </button>
                <br/>
            </div>
        </div>
        <textarea name="Instructions" id="Instructions" cols="30" rows="5" th:field="*{method}"
                  placeholder="Enter instructions here..." class="nntywth"></textarea>
        <div class="lnblock">
            <div class="flwth cntr">
                <h3>Add Categories:</h3>
                <div th:each="cat,i : ${recipe.categories}">
                    <input type="text" th:field="*{categories[__${i.index}__].name}"/>
                    <button type="submit" name="removeCat" th:value="${i.index}"><i class="material-icons">delete</i>
                    </button>
                </div>
                <div>
                    <button type="submit" name="addCategory"><i class="material-icons">add</i></button>
                </div>
            </div>
        </div>

        <button type="submit" style="position: absolute; right: 0; bottom: 0;">Save Recipe</button>
    </form>
</div>
<div th:replace="layout :: scripts"></div>
</body>
</html>