<!DOCTYPE html>
<html lang="en">
<head th:fragment="head(page_title)" lang="en">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, height=device-height,
    initial-scale=1.0, minimum-scale=1.0"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" th:href="@{/app.css}"/>
    <title>Title</title>
</head>
<body>
<div th:fragment="nav">
    <nav id="nav">
        <div class="navbar">
            <div class="title">
                <a th:href="@{|/recipes|}">Recipes 'R' Us</a>
                <button onclick="toggleMenu()" class="menuButton">
                    <i id="menuButtonIcon" class="material-icons" style="color: white">menu</i>
                </button>
            </div>
            <ul id="menu" class="menu">
                <li th:classappend="${#httpServletRequest.servletPath.equals('/recipes') ? 'active' : ''}">
                    <a th:href="@{/recipes}">Recipes</a></li>
                <li th:classappend="${#httpServletRequest.servletPath.equals('/categories') ? 'active' : ''}">
                    <a th:href="@{/categories}">Categories</a></li>
                <li th:classappend="${#httpServletRequest.servletPath.equals('/add') ? 'active' : ''}">
                    <a th:href="@{/add}">Upload Recipe</a></li>
                <li th:classappend="${#httpServletRequest.servletPath.equals('/todo') ? 'active' : ''}">
                    <a th:href="@{/todo}">Shopping List</a></li>
            </ul>
            <div class="searchbar frtwth right">
                <form th:action="@{/search}" method="get">
                    <input name="query" type="text" placeholder="Search for a recipe" required="required"
                           autocomplete="off" style="width: 60%;"/>
                    <select name="searchType" id="searchType">
                        <option value="recipe">Recipe</option>
                        <option value="category">Category</option>
                        <option value="ingredient">Ingredient</option>
                    </select>
                </form>
            </div>
        </div>
    </nav>
</div>
<div th:fragment="flash" th:if="${flash != null}">
    <i class="material-icons">close</i>
    <div th:classappend="${#strings.toLowerCase(flash.status)}" th:text="${flash.message}" class="flash"></div>
</div>
<div th:fragment="scripts">
    <script th:src="@{/app.js}"></script>
</div>
</body>
</html>