<!DOCTYPE html>
<html lang="en">
<head th:replace="layout :: head('Shopping List')"></head>
<body>
<div th:replace="layout :: nav('Ingredient')"></div>
<div th:replace="layout :: flash"></div>
<div class="container">
    <ul id="todoList" style="width: 100%; padding: 0;">
        <li>
            <form th:object="${newItem}" th:action="@{/todo/add}" method="post" style="margin: 2rem 0;">
                <label><input type="text" th:field="*{name}" placeholder="New Item" autocomplete="off"
                              class="hlfwth todoItem"
                              autofocus="autofocus" onfocus="this.select()"/></label>
            </form>
        </li>
        <form th:object=${cart} th:action="@{/todo}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <li th:each="item, i : ${cart.items}"
                th:classappend="*{items[__${i.index}__].needed} ? '' : 'invisible'" class="item">
                <input type="hidden" th:field="*{items[__${i.index}__].id}"/>
                <input type="checkbox" class="dblchkbx" th:id=" ${__i.index__}"
                       th:checked="${cart.items[__${i.index}__].needed}"
                       th:field="${cart.items[__${i.index}__].needed}" th:onchange="'strikeThrough(__${i.index}__)'"/>
                <input type="text" th:field="${cart.items[__${i.index}__].name}"/>
                <input style="width: 10%; min-width: 30px; text-align: center;" type="number"
                       th:field="*{items[__${i.index}__].qty}"/>
            </li>
            <button class="scaling-button" type="submit">Refresh</button>
        </form>
    </ul>
</div>
<div th:replace="layout :: scripts"></div>
</body>
</html>